body
{
    text-lign: center;
    background-image: url('../image/background1.gif');
    background-repeat: repeat-x;
}

.wrap
{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    
/*    height: 1673px;*/
/*    background-image: url('../image/background.gif');*/
    
}

.header
{
    
    height: 480px;
    border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    
    border-top-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-top-left-radius: 20px;
    -o-border-top-left-radius: 20px;
    
    box-shadow: inset 0px 160px 140px -40px #fc578f;
    -webkit-box-shadow: inset 0px 160px 140px -40px #fc578f;
    -moz-box-shadow: inset 0px 160px 140px -40px #fc578f;
    -o-box-shadow: inset 0px 160px 140px -40px #fc578f;
    
    background-color: white;
    
}

.content
{
    
    padding: 2px;
    background-color: white;
}
.content_left
{
    
    position: absolute;
    width: 200px;
}

.content_right
{
    
    margin-left: 205px;
    height: 800px;
}

.footer
{
    
    height: auto;
    padding: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -o-border-bottom-right-radius: 20px;
    
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -o-border-bottom-left-radius: 20px;
    
    box-shadow: inset 0px -90px 120px -15px #fc578f;
    -webkit-box-shadow: inset 0px -90px 120px -15px #fc578f;
    -moz-box-shadow: inset 0px -90px 120px -15px #fc578f;
    -o-box-shadow: inset 0px -90px 120px -15px #fc578f;
    
    background-color: white;
}

